*{
    padding: 0;
    margin:  0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: #f3f2ef;
}


.body{
    display: flex;
    flex-direction: row;
    padding: 0 200px;
}
.left-side-bar{
    flex-basis: 25%;
    position: sticky;
    /* top: 70px; */
    align-self: flex-start;

}
.right-side-bar {
    flex-basis: 25%;
    position: sticky;
    
    align-self: flex-start;
   
    padding: 0 20px;
    border-radius: 4px;
    color: #626262;
  
  }
  .main {
    flex-basis: 47%;
  
  }
  .logo{
    height: 40px;
  }
  .nav{
    padding: 20px 0;
  }
  .nav .search{
       
        height: 20px;
        width: 30%;;
        color: rgb(104, 104, 104);
        font-weight: 400;
        font-size: 0.9rem;
       border-radius: 15px;
        padding: 7px;
        border-style: none
    }
  .nav{
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: white;
    padding: 15px 200px;
   
  }
  

.sidebar-title h4 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
  
  }
  
  .siderbar-ads {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
  
  }
  .right-side-bar .news h4{
    font-size: 14px;
    font-weight: 400px;
    padding: 4px;
  }
  .right-side-bar .news p{
    font-size: 11px;
    font-weight: 200px;
    padding: 4px;
  }
  .right-side-bar a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
  
  }