*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    height: 40px;
}
.container{
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card{
    max-width: 400px;

    
}
.card p{
    font-size: 12px;
    padding: 7px 0 7px 0;
}
input{
    margin:7px 0 7px 0;
    height: 32px;
    width: 90%;
    color: rgb(104, 104, 104);
    font-weight: 400;
    font-size: 1.2rem;
    border-width: 1px;
    padding: 7px;
    border-radius: 4px ;
}
input:hover{
    border-color:  blue;
    border-width: 2px;

}

a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: blue;
    margin-top: 10px;

}
.mincol{
    display: block;
}
button{
    width: 90%;
    border-radius: 20px;
    background-color: blue;
    color: white;
    padding: 15px;
    margin: 20px 0 10px 0;
    border-style: none ;
    
}
.card{
    padding: 35px 25px ;
    box-shadow:  0px 4px 12px rgba(0,0,0,0.20)
}